公开课/代码/spring-xml-extension/src/main/resources/gupao.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.springframework.org/schema/context"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://gupaoedu.com/schema/gupao"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:element name="user">
        <xsd:complexType>
            <xsd:attribute name="bean-name" type="xsd:string"/>
            <xsd:attribute name="id" type="xsd:long"/>
            <xsd:attribute name="name" type="xsd:string" />
        </xsd:complexType>
    </xsd:element>

</xsd:schema>